mat-card-title {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

mat-card-content {
    display: block;
}

.fields {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 4%;
}

.utc-card {
    height: 100%;
    padding: 50px;
}

.mat-card {
    box-shadow: none !important;
}

.white-background {
    background-color: #fff;
}

.button {
    display: flex;
    justify-content: center;
}

.input-width {
    max-width: 50%;
    min-width: 30%;
    width: 400px;
}

.input-size {
    font-size: 20px;
}

.utc-converter {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}